ul {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: red;
    }
    &:active {
      color: purple;
    }
  }
}

.para-short {
  width: 50%;
  margin: 0 auto;
}
